# --- Framework Web ---
fastapi
uvicorn
python-multipart

# --- Manipulação de Dados e Cálculos ---
pandas
numpy
pandas_ta
openpyxl

# --- Requisições de Rede e APIs ---
requests
httpx
pycoingecko

# --- Geração de Gráficos e Interface ---
plotly
kaleido
matplotlib
ttkbootstrap
Pillow

# --- Empacotamento ---
pyinstaller